<script>

 function load_sticky_libs(){
    console.log('Loading Sticky libraries...')
    libs = {
      'd3plus': 'http://wrobstory.github.io/d3plus/d3plus.js',
      'micropolar': 'https://wrobstory.github.io/micropolar/micropolar.js'
    }
    lib_names = Object.keys(libs)
    for (var i=0; i < lib_names.length; i++){
      lib_name = lib_names[i];
      if (window[lib_name] === undefined){
        function getscript(lib_name){
          $.getScript(libs[lib_name], function(){
            console.log(lib_name + " loaded...")
        })};
        getscript(lib_name)
      }
    }
  };

 if(typeof define === "function" && define.amd){
      var load_paths = {
        paths: {
          d3: 'http://d3js.org/d3.v3.min'
        }
      };
      var libs = ['d3'];
      for (var i=0; i < libs.length; i++){
        lib = libs[i]
        if (window[lib] !== undefined){
          delete load_paths.paths[lib]
        };
      };
      if (Object.keys(load_paths.paths).length != 0){
        require.config(load_paths);
        require(["d3"], function(d3){
            console.log('D3 Loaded...')
            window.d3 = d3;
            load_sticky_libs();
        });
      } else {
          load_sticky_libs();
      };

 }else{
      console.log('Require.js not found!');
      throw "Require.js not found!"
 };

</script>
